.clang-format
.clang-tidy
book.h.gch
book.o
clothing.h.gch
clothing.o
movie.h.gch
movie.o
product_parser.h.gch
product_parser.o
util
util.h.gch
util.o
mydatastore.h.gch
product.h.gch
set_test
set_test.cpp
amazon.o
database.out
db_parser.o
hw2_tests.tar.gz
hw2_tests.tar.gz.1
hw2_tests.tar.gz.10
hw2_tests.tar.gz.11
hw2_tests.tar.gz.2
hw2_tests.tar.gz.3
hw2_tests.tar.gz.4
hw2_tests.tar.gz.5
hw2_tests.tar.gz.6
hw2_tests.tar.gz.7
hw2_tests.tar.gz.8
hw2_tests.tar.gz.9
hw2_tests/
mydatastore.o
product.o
user.o